/*
Teamplate Name: clinicalasermedicos 
Version: 1.0
*/
/* Type your CSS Here */

.c-primary {
    color: #0c5adb;
}

.line-bottom {
    margin: 0 auto 0.75rem!important;
    width: 5rem;
    border-bottom: 2px solid #0c5adb1F;    
}

.line-vertical {
    border-left: solid 2px #0c5adb1F;
    padding-left: 1rem;
}

.btn-whatsapp {
    position: fixed;
    width: 50px;
    right: 60px;
    bottom: 90px;
    z-index: 2147483647;
}

.bg-menu-mobile {
    background-color: #0c5adb!important;
    color: #fff!important;
}

@media (max-width: 580px) {
    .btn-whatsapp {
        position: fixed;
        width: 40px;
        right: 26px;
        bottom: 80px;
        z-index: 2147483647;
    }
}